extends base/layout

include component/button
include component/panel
include component/form

block content
  +panel-container()
    +form-container(action="/subscribe", method="post")
      +form-group("Subscribe")
        +form-field("user-mail", "email", "E-Mail")
        +form-field("user-pass", "password", "Password")
        +button("Subscribe", "submit")
