root = true

# Default editor's configuration.
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# Source editor's seetings
[*.{js,vue,styl,html,json}]
indent_size = 2
indent_style = space

# HTML settings
[*.html]
trim_trailing_whitespace = false
