/// Centralize
/// --------------------------------------------------------
/// Centralize component verical, horizontal or both.

centralize(type = block, vertex = both)
  if (type == block || type == inline-block)
    display: type unless @display
    margin-right: auto
    margin-left: auto
  if (type == absolute || type == fixed)
    position: type unless @position
    top: 50% unless (vertex == vertical || vertex == both)
    left: 50% unless (vertex == horizontal || vertex == both)
    transform: (vertex == both)       ? translateY(-50%) translateX(-50%) :
               (vertex == vertical)   ? translateY(-50%) :
               (vertex == horizontal) ? translateX(-50%) : @transform
