/// Clearfix
/// --------------------------------------------------------
/// Fix float problem where a container can't fit children.

$-clearfix
  &::before
  &::after
    display: block
    clear: both
    content: ''

clearfix()
  @extend $-clearfix
