/// Shape
/// --------------------------------------------------------
/// Mixins to style shapes. Rects, Circles and triangles.

rect(width, height = width, display = block)
  display: display unless @display
  width: width
  height: height
