/**
 * Elements
 * Alias for groups of elements.
 */

lists = 'ul, ol'
headings = 'h1, h2, h3, h4, h5, h6'
inputs = 'input[type="text"], input[type="email"], input[type="password"]'
buttons = 'button'
form-items = inputs + ', ' + buttons
