/**
 * Typography
 * Default typography style and custom typographies.
 */

// TODO
// Remove unused fonts.

@font-face
  font-family: 'Akrobat'
  font-weight: 800
  src: url('../asset/font/Akrobat-Black.woff2') format('woff2'),
       url('../asset/font/Akrobat-Black.woff') format('woff');

@font-face
  font-family: 'Akrobat'
  font-weight: 700
  src: url('../asset/font/Akrobat-Extrabold.woff2') format('woff2'),
       url('../asset/font/Akrobat-Extrabold.woff') format('woff');

@font-face
  font-family: 'Akrobat'
  font-weight: 600
  src: url('../asset/font/Akrobat-Bold.woff2') format('woff2'),
       url('../asset/font/Akrobat-Bold.woff') format('woff');

@font-face
  font-family: 'Akrobat'
  font-weight: 500
  src: url('../asset/font/Akrobat-Semibold.woff2') format('woff2'),
       url('../asset/font/Akrobat-Semibold.woff') format('woff')

@font-face
  font-family: 'Akrobat'
  src: url('../asset/font/Akrobat-Regular.woff2') format('woff2'),
       url('../asset/font/Akrobat-Regular.woff') format('woff')

@font-face
  font-family: 'Akrobat'
  font-weight: 300
  src: url('../asset/font/Akrobat-Light.woff2') format('woff2'),
       url('../asset/font/Akrobat-Light.woff') format('woff')

@font-face
  font-family: 'Akrobat'
  font-weight: 200
  src: url('../asset/font/Akrobat-Extralight.woff2') format('woff2'),
        url('../asset/font/Akrobat-Extralight.woff') format('woff')


@font-face
  font-family: 'Akrobat'
  font-weight: 100
  src: url('../asset/font/Akrobat-Thin.woff2') format('woff2'),
       url('../asset/font/Akrobat-Thin.woff') format('woff')

html
  font-size: em-scale

body
  font-size: base-font-size
  font-family: base-font-family

{form-items}
  font: inherit
