/**
 * Configuration
 * Set theme and component's style.
 */

/**
 * Typography
 */
em-scale = 62.5%
base-font-size = 1.6em
base-font-family = sans-serif

/**
 * ViewHeader
 */
$view-header = {
  height: 80px,
  shadow: 0 0 5px rgba(#000, .5)
}

$header-logo = {
  padding: 10px,
  height: $view-header.height
}
