@import './element.styl'

html
  font-size: $rem-scale

html
body
  height: 100%

body
{lists}
  margin: 0

body
  font-size: $base-font-size
  font-family: 'Roboto', sans-serif
  font-weight: 300

{form-itens}
  font: inherit
