$panel = {
  padding: 12px,
  background-color: #fff,
  box-shadow: 5px 5px 10px rgba(#000, 25%)
}

.panel-container
  box-sizing: border-box
  padding: $panel.padding
  background-color: $panel.background-color
  box-shadow: $panel.box-shadow
