/**
 * Typography
 * Default typography style and custom typographies.
 */

FONT_PATH := '../assets/fonts/'

@font-face
  font-family: 'Akrobat'
  font-weight: 600
  src: url(FONT_PATH + 'Akrobat-Bold.woff2') format('woff2'),
       url(FONT_PATH + 'Akrobat-Bold.woff') format('woff')

@font-face
  font-family: 'Akrobat'
  src: url(FONT_PATH + 'Akrobat-Regular.woff2') format('woff2'),
       url(FONT_PATH + 'Akrobat-Regular.woff') format('woff')

@font-face
  font-family: 'Akrobat'
  font-weight: 200
  src: url(FONT_PATH + 'Akrobat-Extralight.woff2') format('woff2'),
       url(FONT_PATH + 'Akrobat-Extralight.woff') format('woff')

@font-face
  font-family: 'Akrobat'
  font-weight: 100
  src: url(FONT_PATH + 'Akrobat-Thin.woff2') format('woff2'),
       url(FONT_PATH + 'Akrobat-Thin.woff') format('woff')

html
  font-size: 62.5%

body
  font-size: 1.6em
  font-family: 'Akrobat', sans-serif

input
button
  font: inherit
